/*
    Typography
    WIP. Loosely following github markdown styles, but will change over time
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

/* Markdown source view (not live preview) */
.markdown-source-view:not(.is-live-preview) {
	/* Set source view to monospace font */
	--font-text: var(--font-monospace);

	--h1-letter-spacing: normal;
	--h2-letter-spacing: normal;
	--h3-letter-spacing: normal;
	--h4-letter-spacing: normal;
	--h5-letter-spacing: normal;
	--h6-letter-spacing: normal;

	/* Reset header font sizes */
	.cm-header {
		font-size: 1em;
		font-variant: normal;
	}

	/* Fix footnote indent */
	.HyperMD-footnote {
		font-size: inherit;
		padding-left: 0;
		text-indent: 0;
	}

	.cm-inline-code {
		font-size: .9em !important;
	}

	/* Fix heading font-size */
	.cm-line[class*="HyperMD-header-"] {
		font-size: inherit;
		line-height: inherit;
	}
}
