/* Variables */
/* Obsidian theme variables */
body,
.theme-light,
.theme-dark {
  /* Window frame */
  --titlebar-background: transparent;
  --titlebar-background-focused: transparent;
  /* Dividers between panes */
  --divider-color-hover: var(--color-base-50);
  /* Bold */
  --bold-modifier: 300;
  /* Icons */
  --icon-opacity: 1;
  /* Buttons */
  --corner-smoothing: system-ui;
  --shadow-s: rgba(0, 0, 0, 0.08) 0px 12px 24px -4px, rgba(0, 0, 0, 0.04) 0px 8px 16px -4px;
  --shadow-l: 0 14px 62px #00000040;
}

/* Obsidian theme variables */
body,
.theme-light,
.theme-dark {
  /* Animations */
  --anim-speed-modifier: 1;
  --anim-motion-baseline: cubic-bezier(0.1, 0, 0.1, 1.25);
  --anim-duration-superfast: calc(80ms * var(--anim-speed-modifier));
  --anim-duration-fast: calc(160ms * var(--anim-speed-modifier));
  --anim-duration-moderate: calc(320ms * var(--anim-speed-modifier));
  --anim-duration-slow: calc(480ms * var(--anim-speed-modifier));
  /* Icons */
  --icon-stroke-modifier: 1;
  --icon-xs-stroke-width: calc(2.25px * var(--icon-stroke-modifier));
  --icon-s-stroke-width: calc(2px * var(--icon-stroke-modifier));
  --icon-m-stroke-width: calc(2px * var(--icon-stroke-modifier));
  --icon-l-stroke-width: calc(2px * var(--icon-stroke-modifier));
  --icon-xl-stroke-width: calc(1.25px * var(--icon-stroke-modifier));
  /* Workspace */
  --density-modifier: 1;
  --translucent-light-opacity: 50%;
  --translucent-dark-opacity: 50%;
  /* Color mappings ------------------------ */
  --color-red: rgb(var(--color-red-rgb));
  --color-orange: rgb(var(--color-orange-rgb));
  --color-yellow: rgb(var(--color-yellow-rgb));
  --color-green: rgb(var(--color-green-rgb));
  --color-cyan: rgb(var(--color-cyan-rgb));
  --color-blue: rgb(var(--color-blue-rgb));
  --color-purple: rgb(var(--color-purple-rgb));
  --color-pink: rgb(var(--color-pink-rgb));
}

.theme-light {
  --workspace-background-translucent: rgb(
  	from var(--background-secondary) r g b /
  		var(--translucent-light-opacity)
  );
  --color-red-rgb: 254, 112, 112;
  --color-orange-rgb: 242, 154, 100;
  --color-yellow-rgb: 224, 205, 99;
  --color-green-rgb: 74, 213, 95;
  --color-cyan-rgb: 56, 219, 214;
  --color-blue-rgb: 106, 173, 250;
  --color-purple-rgb: 187, 158, 245;
  --color-pink-rgb: 243, 125, 183;
  --code-normal: #383a42;
  --code-comment: #b6b9c5;
  --code-function: #b76b02;
  --code-important: #b76b02;
  --code-keyword: #e45749;
  --code-property: #62afef;
  --code-punctuation: #383a42;
  --code-string: #0d97b3;
  --code-tag: #e45749;
  --code-value: #a626a4;
}

.theme-dark {
  --workspace-background-translucent: rgb(
  	from var(--background-secondary) r g b / var(--translucent-dark-opacity)
  );
  --color-red-rgb: 217, 90, 95;
  --color-orange-rgb: 219, 134, 80;
  --color-yellow-rgb: 196, 180, 94;
  --color-green-rgb: 72, 196, 90;
  --color-cyan-rgb: 63, 186, 182;
  --color-blue-rgb: 86, 148, 218;
  --color-purple-rgb: 142, 125, 194;
  --color-pink-rgb: 222, 103, 147;
  --code-normal: #abb2bf;
  --code-comment: #5c6370;
  --code-function: #d19a66;
  --code-important: #d19a66;
  --code-keyword: #e16d76;
  --code-property: #62afef;
  --code-punctuation: #abb2bf;
  --code-string: #58b6c2;
  --code-tag: #e16d76;
  --code-value: #c678de;
}

/* Obsidian app */

/*# sourceMappingURL=theme.css.map */
