body,
.theme-light,
.theme-dark {
	/* Color mappings ------------------------ */
	--color-red: rgb(var(--color-red-rgb));
	--color-orange: rgb(var(--color-orange-rgb));
	--color-yellow: rgb(var(--color-yellow-rgb));
	--color-green: rgb(var(--color-green-rgb));
	--color-cyan: rgb(var(--color-cyan-rgb));
	--color-blue: rgb(var(--color-blue-rgb));
	--color-purple: rgb(var(--color-purple-rgb));
	--color-pink: rgb(var(--color-pink-rgb));
}

.theme-light {
	--color-red-rgb: 254, 112, 112;
	--color-orange-rgb: 242, 154, 100;
	--color-yellow-rgb: 224, 205, 99;
	--color-green-rgb: 74, 213, 95;
	--color-cyan-rgb: 56, 219, 214;
	--color-blue-rgb: 106, 173, 250;
	--color-purple-rgb: 187, 158, 245;
	--color-pink-rgb: 243, 125, 183;

	--code-normal: #383a42;
	--code-comment: #b6b9c5;
	--code-function: #b76b02;
	--code-important: #b76b02;
	--code-keyword: #e45749;
	--code-property: #62afef;
	--code-punctuation: #383a42;
	--code-string: #0d97b3;
	--code-tag: #e45749;
	--code-value: #a626a4;
}

.theme-dark {
	--color-red-rgb: 217, 90, 95;
	--color-orange-rgb: 219, 134, 80;
	--color-yellow-rgb: 196, 180, 94;
	--color-green-rgb: 72, 196, 90;
	--color-cyan-rgb: 63, 186, 182;
	--color-blue-rgb: 86, 148, 218;
	--color-purple-rgb: 142, 125, 194;
	--color-pink-rgb: 222, 103, 147;

	--code-normal: #abb2bf;
	--code-comment: #5c6370;
	--code-function: #d19a66;
	--code-important: #d19a66;
	--code-keyword: #e16d76;
	--code-property: #62afef;
	--code-punctuation: #abb2bf;
	--code-string: #58b6c2;
	--code-tag: #e16d76;
	--code-value: #c678de;
}
