// Minimise tabs in sidepanels
body {
  --anim-motion-baseline: cubic-bezier(0.1, 0, 0.1, 1.25);
}

// Side panels: Compact tabs
// .mod-sidedock.mod-left-split,
// .mod-sidedock.mod-right-split {
//   .workspace-tabs:not(.mod-top) .workspace-tab-header-container:not(:hover) {
//     height: calc-size(auto, size);

//     .workspace-tab-header {
//       background-color: var(--background-modifier-hover);
//       height: 4px;
//     }

//     .workspace-tab-header-inner-icon,
//     .workspace-tab-header-inner-title {
//       opacity: 0;
//     }
//   }
// }

// All panels
body:not(.is-phone) .workspace-tab-header-container {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  background-color: transparent;
  border-bottom: none;
}

.sidebar-toggle-button {
  height: 100%;
  padding-bottom: 8px;
  align-items: center;
}
.sidebar-toggle-button .clickable-icon {
  width: fit-content;
  height: fit-content;
}
.workspace-tab-header-inner-icon {
  color: inherit !important;
}


// Panel actions
.nav-header,
.nav-buttons-container,
.nav-action-button,
.nav-action-button::after,
.nav-header svg {
  transition:
    var(--anim-duration-moderate) var(--anim-motion-baseline),
    background-color var(--anim-duration-fast);
}

body:not(.nav-action-center, .nav-action-left) .mod-sidedock .workspace-leaf-content .nav-header:first-child:not(:hover) .nav-buttons-container {
  gap: 4px !important;
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;

  .nav-action-button {
    padding: 2px !important;
    width: 0 !important;
    flex: 0;
    background-color: var(--background-modifier-hover);
    box-shadow: none !important;
    min-width: 0;

    &::after {
      font-size: 0;
      opacity: 0;
    }
  }
  .nav-action-button.is-active {
    background-color: var(--background-modifier-hover) !important;
  }
  .nav-action-button.clickable-icon[aria-disabled="true"] {
    opacity: var(--icon-opacity);
  }

  svg {
    width: 0px;
    height: 0px;
  }
}
body.nav-action-left .mod-sidedock .workspace-leaf-content .nav-header:first-child {
  align-items: start;
}
body.nav-action-indicator .mod-sidedock .workspace-leaf-content .nav-header:first-child:not(:hover) .nav-buttons-container {
  background-color: var(--background-modifier-hover) !important;
  border-radius: 100vh;
  width: 48px;

  .nav-action-button {
    background-color: transparent;
  }
}