.callout {
	--icon-stroke: 2px;
	--callout-border-width: 1.5px;
	--callout-padding: 0;
	--callout-radius: var(--radius-s);
	background-color: rgb(var(--callout-color), 11%);
}

.callout-title {
	padding: 3px 6px;
	background-color: rgb(var(--callout-color), 15%);
	border-bottom: var(--callout-border-width) solid
		rgb(var(--callout-color), var(--callout-border-opacity));
}

.callout-content {
	padding: 0px 8px;
}

// Gap between icon and title
.callout-title-inner,
.callout-icon {
	margin-right: 2px;
}

// Custom callouts
.callout[data-callout~="answer"] {
  --callout-icon: lucide-circle-check;
  --callout-color: var(--color-green-rgb);
}

.callout[data-callout~="code"] {
  --callout-icon: lucide-code-xml;
  --callout-color: var(--color-purple-rgb);
}

.callout[data-callout~="feature"],
.callout[data-callout~="release"],
.callout[data-callout~="version"] {
  --callout-icon: lucide-rocket;
  --callout-color: var(--color-pink-rgb);
}

.callout[data-callout~="idea"] {
  --callout-icon: lucide-lightbulb;
  --callout-color: var(--color-yellow-rgb);
}

.callout[data-callout~="note"] {
  --callout-icon: lucide-sticky-note;
  --callout-color: var(--color-blue-rgb);
}