body {
	--link-color-rgb: var(--setting-link-internal-color, var(--color-cyan-rgb));
	--link-external-color-rgb: var(--color-yellow-rgb);
	--link-color: rgba(var(--link-color-rgb), var(--color-opacity));
	--link-color-hover: var(--link-color);
	--link-color-underline: var(
		--setting-link-internal-color-underline,
		var(--link-color)
	);
	--link-external-color: rgba(
		var(--link-external-color-rgb),
		var(--color-opacity)
	);
	--link-external-color-hover: var(--link-external-color);
	--link-external-color-underline: var(
		--setting-link-external-color-underline,
		var(--link-external-color)
	);
	--link-unresolved-color: rgba(
		var(--link-color-rgb),
		calc(var(--color-opacity) * 0.85)
	);
	--link-unresolved-decoration-color: var(--link-unresolved-color);
	--link-footnote: var(--color-purple);
	--link-text-size: var(--font-text-size);
}

/* remove external link icon */
.external-link {
	padding-right: 0;
	background-image: none;
}

body .cm-s-obsidian .cm-url {
	text-decoration: none;
}
span:is(
		.cm-url,
		.cm-link,
		.cm-hmd-internal-link,
		.cm-formatting-link.cm-url
	):hover {
	text-decoration: none;
}
