/* ---------------------------------------------------------------
  Typography
--------------------------------------------------------------- */
// .theme-light {
//   --italic-color: color(display-p3 0.15 0.5 0.37);
//   --italic-color: hsla(208, 83%, 41%, 1);
//   --bold-color: hsla(360, 74%, 54%, 1);
//   --bold-color: #c8007fbf;
//   --underline-color: hsla(42, 100%, 62%, 1);
// }

// .theme-dark {
//   --italic-color: rgb(159, 234, 249, 1);
//   --bold-color: hsla(360, 100%, 76%, 1);
//   --underline-color: hsla(162, 85%, 35%, 1);
// }

/* ====== Bold ====== */
// body {
//   --bold-weight: var(--font-semibold);
//   --bold-color: var(--color-red);
// }

// b,
// b > u,
// .cm-s-obsidian span.cm-quote.cm-strong {
//   color: var(--bold-color);
// }

/* ====== Underline ====== */
body,
.theme-light,
.theme-dark {
  --underline-thickness: 1px;
  --underline-offset: 2px;
}

body {
  u,
  .cm-underline,
  .internal-link,
  .external-link,
  .cm-url,
  .cm-link-alias {
    text-underline-offset: var(--underline-offset, 2px);
    text-decoration-thickness: var(--underline-thickness, 1px);
  }

  u {
    text-decoration-thickness: var(--underline-thickness, 1px);
    text-decoration-color: var(--underline-color, var(--text-muted));
  }
}


/* ---------------------------------------------------------------
  Highlights
--------------------------------------------------------------- */
body.theme-light {
  --text-highlight-bg: hsla(50 85% 70%/40%);
  --text-highlight-hover: rgba(255, 208, 0, 0.4);
}

body.theme-dark {
  --highlight-green: rgba(147, 185, 96, 0.3);
  --highlight-green-dark: #3a692fd0;
  --highlight-orange: rgba(223, 142, 29, 0.4);
  --highlight-brown: rgba(209, 154, 102, 0.3);
  --highlight-purple: rgba(189, 147, 249, 0.35);
  --text-highlight-bg: var(--highlight-orange);
  --text-highlight-hover: var(--highlight-brown);
}

.markdown-reading-view mark,
.markdown-source-view mark,
.markdown-rendered mark {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-radius: var(--radius-s);
  padding: 2px 4px;
  color: inherit;
}

.cm-s-obsidian span.cm-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding-block: 2px;
}

.cm-line .cm-highlight:nth-child(1 of .cm-highlight) {
  border-top-left-radius: var(--radius-s);
  border-bottom-left-radius: var(--radius-s);
  padding-left: 4px;
}

.cm-line .cm-highlight:nth-last-child(1 of .cm-highlight) {
  border-top-right-radius: var(--radius-s);
  border-bottom-right-radius: var(--radius-s);
  padding-right: 4px;
}

.markdown-preview-view mark:hover {
  background-color: var(--text-highlight-hover, var(--text-highlight-bg));
}
